<% provide(:title, 'All People') %>
<% if current_user.admin? %>
	<h1>All People</h1>

	<%= will_paginate %>

	<ul class="people">
		<% @people.each do |person| %>
	 		<li>
				<%= link_to person.name, person %> | 
				<%= link_to "Edit", edit_person_path(person) %> | 
				<%= link_to "Delete", person, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
	</ul>
	<%= will_paginate %>

<% else %>
Not allowed.
<% end %>