<% provide(:title, 'All Articles') %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1>News Articles
		<!-- CSVエクスポート用ボタン -->
		<%= link_to 'Export to CSV', params.merge({:format => :csv}), class: 'btn btn-success' %>
		</h1>		
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<ul class="newsarticles">
			<% @news_articles.each do |article| %>
		 		<li>
					<%= link_to Company.find_by_id(article.company_id).name, Company.find_by_id(article.company_id) %> | <%= link_to article.title, article %> | 
					<%= link_to "Edit", edit_news_article_path(article) %> | 
					<%= link_to "Delete", article, method: :delete, data: {confirm: "You sure?"} %>
				</li>
			<% end %>
		</ul>
		<%= will_paginate(renderer: BootstrapPagination::Rails) %>
	</div>

	<%# 検索ボックス。結果はタイトル昇順 %>
	<div class="col-md-4">
		<div class="form-inline">
			<div class="form-group">
				<%= form_tag news_articles_path, :method => 'get' do %>	
					<%= text_field_tag :search, params[:search], class: "form-control" %>
					<%= submit_tag "Search by Title", name: nil, class: "btn btn-primary" %>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<!-- CSVインポート用ボタン -->
		<%= form_tag import_news_articles_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "import", class: 'btn btn-success' %>
		<% end %>
	</div>

</div>

