<% provide(:title) %>

<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1><%= @news_article.title %></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Company</h4>
		<% if find_company.name.present? %>
			<%# find_companyはヘルパーメソッド %>
	    <%= link_to find_company.name, company_path(find_company) %>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>URL</h4>
		<% if @news_article.url.present? %>
	    <%= link_to @news_article.url, @news_article.url %>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>Published Date</h4>
		<% if @news_article.date.present? %>
			<%= @news_article.date %>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>Publisher</h4>
		<% if @news_article.publisher.present? %>
			<%= @news_article.publisher %>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>Content</h4>
		<% if @news_article.content.present? %>
			<div class="articles-box">
		    <%= @news_article.content %>
		  </div>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>Comment</h4>
		<% if @news_article.comment.present? %>
			<div class="articles-box">
		    <%= @news_article.comment %>
		  </div>
		<% else %>
			<br />
		<% end %>
	</div>
</div>