<% provide(:title, 'All Tags') %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1>Tags
		<!-- CSVエクスポート用ボタン -->
		<%= link_to 'Export to CSV', params.merge({:format => :csv}), class: 'btn btn-success' %>
		</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-4 col-md-offset-2">
		<ul class="tags">
		<% @tag.each do |tag| %>
	 		<li>
				<%= link_to tag.name, tag %> | 
				<%= link_to "Delete", tag, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
		</ul>
		<%= will_paginate(renderer: BootstrapPagination::Rails) %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<!-- CSVインポート用ボタン -->
		<%= form_tag import_tag_index_path, multipart: true do %>
		  <%= file_field_tag :file %>
		  <%= submit_tag "import", class: 'btn btn-success' %>
		<% end %>
	</div>
</div>

