<% provide(:title) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<%# find_companyはヘルパーメソッド %>
		<h1><%= find_company.name %>&nbsp;/&nbsp;<%= @link.link_type %></h1>
	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h4>Company</h4>
		<% if find_company.name.present? %>
    	<%= link_to find_company.name, company_path(find_company) %>
		<% else %>
			<br />
		<% end %>
	</div>
	<div class="col-md-8 col-md-offset-2">
		<h4>Link</h4>
		<% if @link.link_type.present? %>
		  <%= @link.link_type %>: <%= link_to @link.url, @link.url %>
		<% else %>
			<br />
		<% end %>
	</div>
</div>
