<% if @company.logo_image.present? %>
	<%= image_tag @company.logo_image.url(:thumb) %>
<% else %>
	nil
<% end %>
<h4>Description</h4>
<%= company.description %>
<h4>Founded Date</h4>
<%= company.founded_date %>
<h4>Closed Date</h4>
<%= company.closed_date %>
<h4>Stage</h4>
<%= company.stage %>
<h4>Tags</h4>
<% @company.products.each do |product| %>
	<% product.tags.each do |tag| %>
		<%= link_to tag, tag_path(tag) %>
	<% end %>
<% end %>
