<h4>詳細</h4>
<%= company.description %>
<h4>設立日</h4>
<%= company.founded_date %>
<h4>クローズ日</h4>
<%= company.closed_date %>
<h4>ステージ</h4>
<%= company.stage %>
<li class="timestamp">
Created: <%= company.created_at %>
</li>
<li class="timestamp">
Updated: <%= company.updated_at %>
</li>