<% provide(:title, 'Update company') %>
<h1>Update company information</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@company) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :name %>
			<%= f.text_field :name %>

			<%= f.label :logo %>
			<%= f.file_field :logo, accept: 'image/jpeg, image/jpg, image/png, image/gif' %>
			
			<%= f.label :description %>
			<%= f.text_area :description %>

			<%= f.label :founded_date %>
			<%= f.date_field :founded_date %>

			<%= f.label :closed_date %>
			<%= f.date_field :closed_date %>

			<%= f.label :stage %>
			<%= f.text_field :stage %>

			<%= f.label :category_list %>
			<%= f.text_field :category_list %>

<!--  チェックボックスやドロップダウンを実装しようと思ったけど出来なかった残骸
			<% @category_list.each do |tag| %>
				<%= f.check_box(:category_list, {}, true, false) %>
				<%= tag %><br />
			<% end %>
			<%= f.collection_select(:category_list, @category_list, :id, :name, :prompt => "カテゴリを選択") %>
-->
			<%= link_to "Edit tag list", tag_index_path, :target => "new" %>

			<%= f.submit "Update", class: "btn btn-large btn-primary" %>
			
		<% end %>
	</div>
</div>

