<% provide(:title, 'All Companies') %>
<% if signed_in? %>
	<h1>All Companies</h1>

	<%= form_tag companies_path, :method => 'get' do %>	
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", name: nil %>
	<% end %>

	<% #<%= will_paginate %>

	<ul class="companies">
		<% @companies.each do |company| %>
	 		<li>
				<%= link_to company.name, company %> | 
				<%= link_to "Edit", edit_company_path(company) %> | 
				<%= link_to "Delete", company, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
	</ul>
	<% #<%= will_paginate %>

<% else %>
Not allowed.
<% end %>