<% provide(:title, 'All Companies') %>
<% if current_user.admin? %>
	<h1>All Companies</h1>

	<%= will_paginate %>

	<ul class="companies">
		<% @companies.each do |company| %>
	 		<li>
				<%= link_to company.name, company %> | 
				<%= link_to "Edit", edit_company_path(company) %> | 
				<%= link_to "Delete", company, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
	</ul>
	<%= will_paginate %>

<% else %>
Not allowed.
<% end %>