<% provide(:title, @company.name) %>
<div class="row">
	<div class="segment span6">
		<h1>
			<%= @company.name %>
		</h1>
		<div>
			<%= link_to "Edit company info", edit_company_path %>
		</div>
		<div class="timestamp">
			<small>Created: <%= @company.created_at %><br />
			Updated: <%= @company.updated_at %></small>
		</div>
	</div>
	<div class="segment span6">
		<%= render @company %>
	</div>

	<div class="segment span4">
		<% unless @company.products.empty? %>
			<%= render @products %>
			<%= will_paginate @products %>
		<% end %>
	</div>

	<div class="segment span4">
		<h4>Comments</h4>
		<% unless @company.comments.empty? %>
			<ul>
				<% @comments.each do |com| %>
				<li><%= com.comment %></li>
				<% end %>
			</ul>
		<% end %>
	</div>

</div>