<% provide(:title, @company.name) %>
	
<div class="row">

	<%# トップ社名 %>
	<div class="col-md-offset-2 col-md-8 page-header">
		<h1>
			<%= @company.name %>
		<% if @company.logo_image.present? %>
		<%= image_tag @company.logo_image.url(:thumb) %>
		<% else %>
		<% end %>
		</h1>
		<div class="control">
			<%= link_to "Edit company info", edit_company_path %> /
			<%= link_to "Delete", @company, method: :delete, data: {confirm: "You sure?"} %>
		</div>
	</div>

	<%# Basic Info部分 %>
	<div class="col-md-offset-2 col-md-8 bd-bottom">
	<%# 左側 %>
		<h2>Basic Info</h2>
		<div class="col-md-6">
			<h4>HQ Country</h4>
			<%= @company.hq_country %>
			<h4>Multinational Capacity</h4>

			<%= @company.multinational %>
			<h4>Links
			<%= link_to new_link_path(company_id: @company), class: "btn btn-sm" do %>
	  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
			<% end %>
			</h4>
			<ul>
				<% @links.each do |link| %>
				<li><%= link_to link.link_type, link.url %>&nbsp;&nbsp;&nbsp;&nbsp;
					<%= link_to "Edit", edit_link_path(link) %> /
					<%= link_to "Delete", link, method: :delete, data: {confirm: "You sure?"} %>
				</li>
				<% end %>
			</ul>
		</div>

		<%# 右側 %>
		<div class="col-md-6">
			<h4>Founded Date</h4>
				<% if @company.founded_date.present? %>
				<%= @company.founded_date %>
				<% else %>
				<br />
				<% end %>
			<h4>Closed Date</h4>
				<% if @company.closed_date.present? %>
				<%= @company.closed_date %>
				<% else %>
				<br />
				<% end %>
			<h4>Funding Stage</h4>
				<% if @company.stage.present? %>
				<%= @company.stage %>
				<% else %>
				<br />
				<% end %>
			<h4>Tags</h4>
				<% @company.products.each do |product| %>
					<% product.tags.each do |tag| %>
						<%= link_to tag, tag_path(tag) %> /
					<% end %>
				<% end %>
		</div>

	<%# 中央下のDescription欄 %>
		<div class="col-md-12">
			<h4>Description</h4>
			<div>
				<%= @company.description %>
			</div>
		</div>

	<%# Company/Description直下のコメント %>
		<%# commentsがなければnewのリンクのみを表示する分岐 %>
		<% if @company.comments.empty? %>
		<div class="col-md-12 segment">
			<h4>Comments
			<%= link_to new_comment_path(company_id: @company), class: "btn btn-sm" do %>
	  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
			<% end %>
			</h4>
		</div>
		<%# commentsがあれば、全コメントを表示する %>
		<% else %>
		<div class="col-md-12 segment">
			<h4>Comments
			<%= link_to new_comment_path(company_id: @company), class: "btn btn-sm" do %>
	  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
			<% end %>
			</h4>
			<% @comments.each do |com| %>
				<div>
					<%= com.comment %>
					<div class="userstamp small">@<%= com.userstamp if com.userstamp.present? %><br />
						<%= com.updated_at %><br />
						<% if @current_user == User.find_by_name(com.userstamp) %>
							<%= link_to "Edit", edit_comment_path(com) %> /
							<%= link_to "Delete", com, method: :delete, data: {confirm: "You sure?"} %>
						<% else %>
						<% end %>
					</div>
				</div>
			<% end %>

		</div>
		<% end %>
	</div>
</div>


<div class="row" >
	<%# productsがなければnewのリンクのみを表示する分岐 %>
	<% if @company.products.empty? %>
	<div class="col-md-offset-2 col-md-8 bd-bottom">
		<h2>Products
		<%= link_to new_product_path(company_id: @company), class: "btn btn-sm" do %>
  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
		<% end %>
		</h2>
	</div>

	<%# productsがあれば、全プロダクトを表示する %>
	<% else %>
	<div class="col-md-offset-2 col-md-8 bd-bottom">
		<h2>Products
		<%= link_to new_product_path(company_id: @company), class: "btn btn-sm" do %>
  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
		<% end %>
		</h2>
		<% @products.each do |product| %>
			<div>
				<h3><%= product.name %></h3>

				<div class="col-md-12 segment">
					<h4>Description</h4>
					<% if product.description.present? %>
					<%= product.description %>
					<% else %>
					<br />
					<% end %>

					<h4>HR Process</h4>
					<% if product.hr_processes.present? %>
						<% product.hr_processes.each do |hrp| %>
							<%= hrp.hr_process_tag %>
						<% end %>
					<% else %>
					<br />
					<% end %>

					<h4>Revenue Model</h4>
					<% if product.rev_model.present? %>
					<%= product.rev_model %>
					<% else %>
					<br />
					<% end %>

					<h4>Released Date</h4>
					<% if product.released_date.present? %>
					<%= product.released_date %>
					<% else %>
					<br />
					<% end %>
					
					<h4>Tag</h4>
					<% if product.tags.present? %>
						<% product.tags.each do |tag| %>
							<%= link_to tag, tag_path(tag) %> /
						<% end %>
					<% else %>
					<br />
					<% end %>

					<br /><br />
					<%= link_to "Edit", edit_product_path(product) %> /
					<%= link_to "Delete", product, method: :delete, data: {confirm: "You sure?"} %>
				</div>
			</div>
		<% end %>
	</div>
	<% end %>
</div>


<div class="row">
	<% if @company.news_articles.empty? %>	
	<div class="col-md-offset-2 col-md-8 bd-bottom">
		<h2>News Articles
		<%= link_to new_news_article_path(company_id: @company), class: "btn btn-sm" do %>
  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
		<% end %>
		</h2>
	</div>
	<% else %>
	<div class="col-md-offset-2 col-md-8 bd-bottom">
		<h2>News Articles
		<%= link_to new_news_article_path(company_id: @company), class: "btn btn-sm" do %>
  		<i class="glyphicon glyphicon-plus-sign" aria-hidden="true">New</i>
		<% end %>
		</h2>
		<% @news_articles.each do |article| %>
			<div class = "segment">
		    <h3><%= link_to article.title, article.url %></h3>
		    <p>Published date: <%= article.date %> <br />
		    Publisher: <%= article.publisher %></p>
		    <h4>Content</h4>
		    <div>
			    <%= truncate(article.content, length: 399) %>
			    <%= link_to "続きを読む", article if article.content.length >= 400 %>	    	
		    </div>
		    <h4>Comment</h4>
		    <div>
			    <%= article.comment%>		    	
		    </div>
		    <br /><br />
				<%= link_to "Edit", edit_news_article_path(article) %> /
				<%= link_to "Delete", article, method: :delete, data: {confirm: "You sure?"} %>
		  </div>
  	<% end %>
	</div>
	<% end %>
</div>