<% provide(:title, @company.name) %>
<div class="row">
	<section class="span4">
		<h1>
			<%= @company.name %>
		</h1>
		<div>
			<%= link_to "Edit company info", edit_company_path %>
		</div>
		<div class="timestamp">
			<small>Created: <%= @company.created_at %><br />
			Updated: <%= @company.updated_at %></small>
		</div>
	</section>
	<section class="span4">
		<%= render @company %>
	</section>

	<section class="span4">
		<% unless @company.products.empty? %>
			<%= render @products %>
			<%= will_paginate @products %>
		<% end %>
	</section>

</div>