<% provide(:title, @company.name) %>
	
<%# Company情報はパーシャル %>
<%= render @company %>

<%# productsがなければnewのリンクのみを表示する分岐 %>
<% if @company.products.empty? %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Products</h2>
			<%= link_to "Add new product", new_product_path(company_id: @company) %>
	</div>
<% else %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Products</h2>
		<% @products.each do |product| %>
			<div class="segment">
				<h3><%= product.name %></h3>

				<h4>Description</h4>
				<% if product.description.present? %>
				<%= product.description %>
				<% else %>
				<br />
				<% end %>

				<h4>Product Type</h4>
				<% if product.type.present? %>
				<%= product.type %>
				<% else %>
				<br />
				<% end %>

				<h4>Released Date</h4>
				<% if product.released_date.present? %>
				<%= product.released_date %>
				<% else %>
				<br />
				<% end %>
				
				<h4>Tag</h4>
				<% product.tags.each do |tag| %>
					<%= link_to tag, tag_path(tag) %> /
				<% end %>

				<br /><br />
				<%= link_to "Edit", edit_product_path(product) %> /
				<%= link_to "Delete", product, method: :delete, data: {confirm: "You sure?"} %>
			</div>
		<% end %>
		<%= link_to "Add new product", new_product_path(company_id: @company) %>
	</div>
<% end %>

<%# commentsがなければnewのリンクのみを表示する分岐 %>
<% if @company.comments.empty? %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Comments</h2>
			<%= link_to "Add new comment", new_comment_path(company_id: @company) %>
	</div>
<% else %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Comments</h2>
			<% @comments.each do |com| %>
				<div class="segment">
					<%= com.comment %>
					<br /><br />
					<div>
						<%= link_to "Edit", edit_comment_path(com) %> /
						<%= link_to "Delete", com, method: :delete, data: {confirm: "You sure?"} %>
					</div>
				</div>
			<% end %>
	<%= link_to "Add new comment", new_comment_path(company_id: @company) %>
	</div>
<% end %>

<% if @company.links.empty? %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Links</h2>
		<%= link_to "Add new link", new_link_path(company_id: @company) %>
	</div>
<% else %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>Links</h2>	
		<ul>
			<% @links.each do |link| %>
			<li><%= link_to link.link_type, link.url %>
				<%= link_to "Edit", edit_link_path(link) %> /
				<%= link_to "Delete", link, method: :delete, data: {confirm: "You sure?"} %>
			</li>
			<% end %>
		</ul>
		<%= link_to "Add new link", new_link_path(company_id: @company) %>
	</div>
<% end %>

<% if @company.news_articles.empty? %>	
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>News Articles</h2>
		<%= link_to "Add new article", new_news_article_path(company_id: @company) %>
	</div>
<% else %>
	<div class="col-md-offset-2 col-md-8 segment">
		<h2>News Articles</h2>
		<% @news_articles.each do |article| %>
			<div class = "segment">
		    <h3><%= link_to article.title, article.url %></h3>
		    Posted: <%= article.date %>&nbsp;&nbsp;&nbsp;&nbsp;by <%= article.publisher %>
		    <h4>Article</h4>
		    <div class="articles-box">
			    <%= article.content%>	    	
		    </div>
		    <h4>Comment</h4>
		    <div class="articles-box">
			    <%= article.comment%>		    	
		    </div>
		    <br /><br />
				<%= link_to "Edit", edit_news_article_path(article) %> /
				<%= link_to "Delete", article, method: :delete, data: {confirm: "You sure?"} %>
		  </div>
  	<% end %>
		<%= link_to "Add new article", new_news_article_path(company_id: @company) %>
	</div>
<% end %>
</div>