<% provide(:title, @company.name) %>
<div class="row">
	<div class="segment span6">
		<h1>
			<%= @company.name %>
		</h1>
		<div class="logo">
			<% %>
		</div>
		<div class="location">
			<h4>HQ Country</h4>
			<%= @company.hq_country %>
			<h4>Multinational Capacity</h4>
			<%= @company.multinational %>
		</div>
		<div>
			<%= link_to "Edit company info", edit_company_path %>
		</div>
		<div class="timestamp">
			<small>Created: <%= @company.created_at %><br />
			Updated: <%= @company.updated_at %></small>
		</div>
	</div>
	<div class="segment span6">
		<%= render @company %>
	</div>

	<div class="segment span4">
		<% unless @company.products.empty? %>
			<%= render @products %>
			<%= will_paginate @products %>
		<% end %>
	</div>

	<div class="segment span4">
		<h4>Comments</h4>
		<% unless @company.comments.empty? %>
			<ul>
				<% @comments.each do |com| %>
				<li><%= com.comment %></li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div class="segment span4">
		<h4>Links</h4>
		<% unless @company.links.empty? %>
			<ul>
				<% @links.each do |link| %>
				<li><%= link.link_type %> | <%= link_to "URL", link.url %></li>
				<% end %>
			</ul>
		<% end %>
	</div>

	<div class="segment span6">
		<h4>News Articles</h4>
		<% unless @company.news_articles.empty? %>	
			<% @news_articles.each do |article| %>
				<div class = "segment">
			    <h4>Title</h4>
			    [<%= article.date %>] <%= link_to article.title, article.url %><br />
			    by <%= article.publisher %>
			    <h4>Article</h4>
			    <%= article.content%>
			    <h4>Comment</h4>
			    <%= article.comment%>
			  </div>
		  <% end %>
		<% end %>
	</div>

</div>