<% provide(:title, 'All Products') %>
<% if signed_in? %>
	<h1>All products</h1>

	<%= will_paginate %>

	<ul class="products">
		<% @products.each do |product| %>
	 		<li>
				<%= link_to product.name, product %> | 
				<%= link_to "Edit", edit_product_path(product) %> | 
				<%= link_to "Delete", product, method: :delete, data: {confirm: "You sure?"} %>
			</li>
		<% end %>
	</ul>
	<%= will_paginate %>

<% else %>
Not allowed.
<% end %>