<% provide(:title, @product.name) %>
<div class="row">
	<div class="col-md-8 col-md-offset-2 page-header">
		<h1>"<%= @product.name %>" by <%= link_to find_company.name, company_path(find_company) %></h1>
		<%= link_to "Edit", edit_product_path %> /
		<%= link_to "Delete", @product, method: :delete, data: {confirm: "You sure?"} %>

	</div>
</div>

<div class="row">
	<div class="col-md-8 col-md-offset-2">

		<h4>Description</h4>
		<% if @product.description.present? %>
		<%= @product.description %>
		<% else %>
		<br />
		<% end %>

		<h4>HR Process</h4>
		<% if @product.hr_processes.present? %>
		<% @product.hr_processes.each do |hrp| %>
			<%= link_to hrp.hr_process_tag, '#' %>
		<% end %>
		<% else %>
		<br />
		<% end %>

		<h4>Revenue Model</h4>
		<% if @product.rev_model.present? %>
		<%= @product.rev_model %>
		<% else %>
		<br />
		<% end %>

		<h4>Released Date</h4>
		<% if @product.released_date.present? %>
		<%= @product.released_date %>
		<% else %>
		<br />
		<% end %>

		<h4>Tag</h4>
		<% @product.tags.each do |tag| %>
			<%= link_to tag, tag_path(tag
			) %> /
		<% end %>

		<h4>Company</h4>
		<%= link_to find_company.name, company_path(find_company) %>
	</div>
</div>