<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<% if signed_in? %>
					<%= link_to "Profile", 'user_path(current_user)' %>
				<% else %>
					<%= link_to "Sign up", signup_path, class: "btn btn-large btn-primary" %>
				<% end %>
				<ul class="nav pull-right">
						<li><%= link_to "About", about_path %></li>
					<li><%= link_to "Help", help_path %></li>
				<% if signed_in? %>
					<li><%= link_to "Logout", signout_path, method: "delete" %></li>
				<% else %>
				<% end %>

				</ul>
			</nav>
		</div>
	</div>
</header>