<!DOCTYPE html>
<html>
	<head>
	  <title>Monitoring DB | <%= yield(:title) %></title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= csrf_meta_tags %>
  	<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	</head>
	<body>
		<div class="container">
			<div class="header-margin">
				<%= render 'layouts/header' %>				
			</div>
		</div>
		<div class="container">
			<%#アラート枠挿入 %>
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>

			<%# メイン挿入 %>
			<%= yield %>
			
			<%# デバッグ %>
			<div class="row">
				<div class="col-md-12">
					<%= debug(params) if Rails.env.development? %>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="footer-margin">
				<%= render 'layouts/footer' %>
			</div>
		</div>
	</body>
</html>
